---
---
$grey: #333
$vaered: #d12727

html, body
  height: 100%
body
  background-color: $grey
  border-bottom: solid 5px $vaered
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

h1
  color: $vaered
  font-size: 30vw
  margin-bottom: -100px

a
  text-decoration: none
