#load {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 1000;
    background: #333;
}
header {
    position: absolute;
    width: 100%;
}
.video-ext-container {
    height: 100vh;
    position: relative;
    z-index: -10;
    overflow: hidden;
}
.video-container {
    top: -50%;
    left: -50%;
    width: 200vw;
    height: 200vh;
}
video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    position: relative;
    -webkit-filter: blur(5px) brightness(.5);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" /><feFuncG type="linear" slope="0.5" /><feFuncB type="linear" slope="0.5" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: blur(5px) brightness(.5);
            filter: blur(5px) brightness(.5);
}
.jumbotron {
    position: absolute;
    bottom: 0;
    height: calc(100vh - 139px);
    width: 100vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
h1 {
    font-size: 5em;
    margin-bottom: 10px;
}
h3 {
    max-width: 8in;
    line-height: 1.4;
}
.banners {
    width: 100vw;
    height: 200px;
    overflow-y: scroll;
    text-align: center;
}
.banners::-webkit-scrollbar {
    display: none;
}
.banners ul {
    padding: 0 20px;
    width: 2185px;
    height: 200px;
}
.banners li {
    vertical-align: top;
    display: inline-block;
    margin: 0 3px 30px;
    width: 120px;
    position: relative;
    background: #0f4bcb;
    color: #fff;
    padding: 10px;
}
.banners img {
    width: 75px;
    margin-bottom: 5px;
}
.banners li:after {
    content: '';
    position: absolute;
    display: block;
    border: 60px solid #0f4bcb;
    border-top-width: 5px;
    border-bottom: 20px transparent solid;
    top: 100%;
    left: 0;
}
.banners li,
.banners li:after {
    -webkit-filter: drop-shadow(0 10px 5px rgba(0, 0, 0, .1));
}
@media (max-width: 850px) {
    .jumbotron,
    .video-ext-container,
    .video-container,
    video,
    .banners {
        display: none;
    }
    header {
        position: static;
    }
}