@font-face {
    font-family: 'Adam';
    src: url('adam.otf') format('opentype');
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    background: #333;
    overflow-x: hidden;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h5,
header,
.jumbotron,
.banners {
    font-family: 'Adam', sans-serif;
}
header {
    padding: 15px 15px 0;
    background: #333;
}
header > * {
    display: inline-block;
    vertical-align: top;
}
header > img {
    width: 180px;
    margin-bottom: 1px;
}
h2 {
    font-size: 100px;
    margin-left: -20px;
}
h3 {
    font-size: 20px;
}
header h3 {
    letter-spacing: 1px;
    position: relative;
    margin-top: -10px;
}

/* Social buttons */

.social {
    position: relative;
    cursor: default;
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}
.social li {
    margin: -5px;
}
.social a {
    cursor: pointer;
    z-index: 100;
}
.social img {
    cursor: pointer;
    margin-left: 2px;
    height: 30px;
    width: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}
.social img:hover {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-filter: invert(.5);
    filter: invert(.5);
}

/* Nav */

#nav-button {
    display: none;
    width: 50px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    transform: rotate(0);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 200;
}
#nav-button span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: .25s ease-in-out;
}
#nav-button span:nth-child(1) {
    top: 0;
}
#nav-button span:nth-child(2) {
    top: 18px;
}
#nav-button span:nth-child(3) {
    top: 36px;
}
#nav-button.open span:nth-child(1) {
    top: 18px;
    transform: rotate(-135deg);
}
#nav-button.open span:nth-child(2) {
    opacity: 0;
    right: -60px;
}
#nav-button.open span:nth-child(3) {
    top: 18px;
    transform: rotate(135deg);
}
nav {
    display: inline;
    position: absolute;
    margin-top: 40px;
    right: 10px;
    z-index: 100;
}
nav ul,
nav li {
    position: relative;
}
nav ul {
    list-style: none;
}
nav > ul {
    float: right;
}
nav a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 12px 15px 8px;
}
nav li {
    float: left;
    padding: 0;
}
nav li:hover {
    background: #444;
}
nav .active,
nav .active:hover {
    background: #222;
}
nav .active a {
    color: #ddd;
    cursor: default;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #2c2c2c;
}
nav ul ul li {
    width: 100%;
}
nav ul li:hover > ul {
    display: block;
}
.button {
    padding: 12px 10px 8px;
    margin: 10px;
    text-decoration: none;
    background: #d12727;
    color: white;
}
article {
    padding: 40px;
    background: #222;
    line-height: 1.8;
}
article h1 {
    font-size: 60px;
}
h5,
p,
article ul,
article > img,
.img-row,
table,
.iframe-ext-wrapper {
    max-width: 10in;
    display: block;
    margin: 5px auto;
}
iframe {
    display: block;
    margin: 20px auto;
    border: 0;
}
td {
    width: 30%;
}
article > img,
.img-row,
table {
    margin: 20px auto;
}
.img-row img {
    width: 31%;
    margin: 1%;
}
.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
table {
    background: white;
    padding: 20px;
}
table img {
    width: 100%;
}
article h1 {
    text-align: center;
}
h5 {
    margin-top: 30px;
    font-size: 30px;
}
article ul {
    padding-left: 20px;
}
article li {
    padding-left: 15px;
}
footer {
    text-align: center;
    color: #666;
    padding: 20px;
}
footer img {
    width: 50px;
    margin-top: 10px;
}
@media (max-width: 1200px) {
    #nav-button {
        display: block;
    }
    nav {
        top: 0;
        margin: 0;
        left: 100vw;
        background: #333;
        width: 100vw;
        height: 100vh;
        position: fixed;
        transition: .2s;
    }
    nav.open {
        left: 0;
        transition: .3s;
    }
    nav > ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
        right: auto;
        position: relative;
        width: 100vw;
        height: 100vh;
    }
    nav ul ul {
        display: block;
        position: static;
    }
    nav ul ul li {
        margin-left: 20px;
        padding-left: 10px;
        border-left: solid 4px white;
    }
    nav li:hover {
        background: #333;
    }
    nav a {
        font-size: 50px;
        display: inline-block;
        padding: 10px 0;
        vertical-align: middle;
        transform: translateZ(0);
        position: relative;
        overflow: hidden;
    }
    nav .active,
    nav .active:hover {
        background: #333;
    }
    nav .active a {
        color: white;
    }
    nav a:after {
        content: '';
        position: absolute;
        right: 100%;
        left: 0;
        bottom: 0;
        background: white;
        height: 4px;
        transition: .3s ease-out;
    }
    nav a:hover:after,
    nav a:focus:after,
    nav a:active:after,
    nav .active a:after {
        right: 0;
    }
    article img {
        width: 100%;
    }
}
@media (max-width: 850px) {
    header {
        position: static;
        padding-bottom: 20px;
    }
    header > img {
        display: block;
        z-index: 50;
    }
    h3 {
        display: none;
    }
    .social {
        margin-left: 20px;
        display: block;
    }
    .social li {
        display: inline-block;
        margin: 2px;
    }
    .social img {
        height: 40px;
        width: 40px;
    }
    h1 {
        display: none;
    }
    h2 {
        margin-left: 10px;
    }
    nav a {
        font-size: 30px;
    }
    .img-row img {
        width: 100%;
    }
}