article > div {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
article div div {
    max-width: 3in;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
article img {
    width: 100%;
    background: #333;
}
h5 {
    margin: 0;
}
