article {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
}
article > div {
    display: inline-block;
    text-align: center;
}
article div div {
    width: 3in;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: left;
}
article img {
    width: 100%;
    background: #333;
}
h5 {
    margin: 0;
}
