article > div {
    text-align: center;
}
article div div {
    width: 3in;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: left;
}
div:empty {
    height: 0;
}
article img {
    width: 100%;
    background: #333;
}
h5 {
    margin: 0;
}
