@font-face {
    font-family: 'Adam';
    src: url('adam.otf') format('opentype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJdTIkQYohD4BpHvJ3NvbHoA.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    color: white;
    background: #333;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, header {
    font-family: 'Adam', sans-serif;
}

header {
    padding: 15px;
    position: absolute;
    background: #333;
    width: 100%;
}
header > * {
    display: inline-block;
}
header img {
    width: 180px;
    margin-bottom: -30px;
}
h2 {
    font-size: 100px;
    margin-left: -20px;
}
h3 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: -20px;
    display: inline-block;
    position: relative;
}

/* Social buttons */
header ul {
    position: relative;
    cursor: default;
    list-style: none;
    display: inline-block;
}
header ul li {
    display: inline-block;
}
header ul a {
    cursor: pointer;
    z-index: 100;
}
header ul img {
    cursor: pointer;
    margin: -7px;
    margin-left: 2px;
    height: 30px;
    width: 30px;
    -webkit-transition: .3s;
    transition: .3s;
}
header ul img:hover {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-filter: invert(.5);
    filter: invert(.5);
}

/* Navbar */
nav {
    display: inline;
    position: relative;
    bottom: 0;
}
nav ul,
nav li {
    position: relative;
}
nav ul {
    list-style: none;
    padding: 0;
    z-index: 1000;
}
nav > ul {
    margin: 40px 40px 0 0;
    float: right;
}
nav a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px 15px;
}
nav li {
    float: left;
    padding: 0;
    font-weight: 300;
}
nav li:hover {
    background: #444;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #2c2c2c;
    padding: 0;
}
nav ul:nth-child(3) ul {
    width: 230px;
}
nav ul:nth-child(3) a {
    padding: 9px 14px;
}
nav ul ul li {
    width: 100%;
}
nav ul ul a {
    padding: 6px 15px;
}
nav ul li:hover > ul {
    display: block;
}

.video-ext-container {
    height: 100vh;
    position: relative;
    z-index: -10;
    overflow: hidden;
}
.video-container {
    top: -50%;
    left: -50%;
    width: 200vw;
    height: 200vh;
}
video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    position: relative;

}

article {
    padding: 40px;
    background: #333;
    line-height: 1.4;
    letter-spacing: 1px;
}
article a {
    color: inherit;
}