<footer>
    
    <h5>We love our sponsors!</h5>
    <p class="emphasized">Please consider <a href="/sponsorship">sponsoring us</a>!</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://www.fcedf.org/" target="_blank"><img class="sponsor-large" src="/images/sponsors/fcef.svg"></a></td>
                <td><a href="http://fccps.org" target="_blank"><img class="sponsor-large" src="/images/sponsors/fccps.svg"></a></td>
                <td><a href="http://fccps.org/gm" target="_blank"><img class="sponsor-large" src="/images/sponsors/george-mason.svg"></a></td>
                <td><a href="http://dixiesheetmetalworks.com/" target="_blank"><img class="sponsor-large" src="/images/sponsors/dixie-metal.png"></a></td>
                <td><a href="https://www.codeninjas.com/locations/va-falls-church" target="_blank"><img class="sponsor-large" src="/images/sponsors/code-ninjas.svg"></a></td>
                <td><a href="https://www.themcguiregroupllc.com/" target="_blank"><img class="sponsor-medium" src="/images/sponsors/tmg.svg"></a></td>
                <td><a href="http://www.baroodycamps.com/" target="_blank"><img class="sponsor-large" src="/images/sponsors/baroodycamps.png"></a></td>
                <td><a href="https://ghaasfoundation.org/" target="_blank"><img class="sponsor-large" src="/images/sponsors/gene-haas-foundation.png"></a></td>
                <td><a href="https://krobothconsulting.com/" target="_blank"><img class="sponsor-large" src="/images/sponsors/kroboth-consulting.png"></a></td>
                <td><a href="https://andworx.com/" target="_blank"><img class="sponsor-large" src="/images/sponsors/andworx.png"></a></td>
                <td><img class="sponsor-large" src="/images/sponsors/families.png"></td>
            </tr>
        </tbody>
    </table>
    <p>© {{ site.time | date: '%Y' }} Team 1418.</p>
    <p><a href="https://github.com/frc1418/frc1418.github.io">View site source on GitHub</a></p>
    <a href="http://www.firstinspires.org"><img class="first-logo" src="/images/first.png"></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}