<footer>
    <h5>We love our sponsors!</h5>
    <p>Please consider <a href="http://1418.team/sponsorship">sponsoring us</a>!</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://www.fcedf.org/"><img class="sponsor-large" src="/images/sponsors/fcef.svg"></a></td>
                <td><a href="http://fccps.org"><img src="/images/sponsors/fccps.svg"></a></td>
                <td><a href="http://fccps.org/gm"><img class="sponsor-large" src="/images/sponsors/george-mason.svg"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.boozallen.com"><img src="/images/sponsors/booz-allen-hamilton.svg"></a></td>
                <td><a href="http://dixiesheetmetalworks.com/"><img src="/images/sponsors/dixie-metal.png"></a></td>
                <td><a href="https://vektre.github.io"><img src="/images/sponsors/vektre.svg"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.cnccompleteservices.com/"><img src="/images/sponsors/cnc.png"></a></td>
                <td><a href="https://airphotoslive.com/"><img class="sponsor-large" src="/images/sponsors/digitaldesign.svg"></a></td>
                <td><a href="https://www.themcguiregroupllc.com/"><img class="sponsor-large" src="/images/sponsors/tmg.svg"></a></td>
            </tr>
            <tr>
                <td><a href="https://flippinpizza.com/"><img src="/images/sponsors/flippin-pizza.svg"></a></td>
                <td><a href="http://www.baroodycamps.com/"><img src="/images/sponsors/baroodycamps.png"></a></td>
                <td><a href="http://cyclebar.com/"><img src="/images/sponsors/cyclebar.svg"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.pizzeriaorso.com"><img src="/images/sponsors/pizzeria-orso.png"></a></td>
                <td><a href="http://www.aus.com/offices"><img src="/images/sponsors/aus.png"></a></td>
                <td><p>The Families of FRC Team 1418</p></td>
            </tr>
            <tr>
                <td><a href="https://www.codeninjas.com/locations/va-falls-church"><img src="/images/sponsors/code-ninjas-logo.svg"></a></td>
            </tr>
        </tbody>
    </table>
    <p>© {{ site.time | date: '%Y' }} Team 1418.</p>
    <p><a href="https://github.com/frc1418/frc1418.github.io">View site source on GitHub</a></p>
    <a href="http://www.firstinspires.org"><img class="first-logo" src="/images/first.png"></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}
