<footer>
    <h5>We love our sponsors!</h5>
    <p>Please consider <a href="http://1418.team/sponsorship">sponsoring us</a>!</p>
    <table>
        <tbody>
            <tr>
                <td><a href="http://www.fcedf.org/"><img class="sponsor-large" src="/assets/img/sponsors/fcef.svg"></a></td>
                <td><a href="http://fccps.org"><img src="/assets/img/sponsors/fccps.svg"></a></td>
                <td><a href="http://fccps.org/gm"><img class="sponsor-large" src="/assets/img/sponsors/george-mason.svg"></a></td>
            </tr>
            <tr>
                <td><a href="http://www.boozallen.com/"><img src="/assets/img/sponsors/booz-allen-hamilton.svg"></a></td>
                <td><a href="http://www.setty.com/"><img class="sponsor-large" src="/assets/img/sponsors/setty.svg"></a></td>
                <td><a href="http://erikboesen.com/vektre"><img class="sponsor-large" src="/assets/img/sponsors/vektre.svg"></a></td>
            </tr>
            <tr>
                <td><a href="https://www.leidos.com/"><img class="sponsor-large" src="/assets/img/sponsors/leidos.svg"></a></td>
                <td><a href="https://airphotoslive.com/"><img class="sponsor-large" src="/assets/img/sponsors/DigitalDesign.svg"></a></td>
                <td><img class="sponsor-large" src="/assets/img/sponsors/TMG.svg"></a></td>
            </tr>
            <tr>
                <td><p>The Families of FRC Team 1418</p></td>
            </tr>
        </tbody>
    </table>
    <p>© {{ site.time | date: '%Y' }} Team 1418.</p>
    <p><a href="https://github.com/frc1418/frc1418.github.io">View site source on GitHub</a></p>
    <a href="http://www.firstinspires.org"><img class="first-logo" src="/assets/img/first.png"></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}
