<header>
    <a href="/"><img src="/assets/img/fist.svg"></a>
    <div>
        <h2><a href="/">Vae Victis</a></h2>
        <h3><a href="/">FRC Team 1418 - George Mason High School</a></h3>
    </div>
    <ul class="social">
        <li>
            <a href="mailto:robotics1418ATSYMBOLgmailPERIODcom">
                <img src="/assets/img/social/email.svg">
            </a>
        </li>
        <li>
            <a href="http://facebook.com/robotics1418">
                <img src="/assets/img/social/facebook.svg">
            </a>
        </li>
        <li>
            <a href="http://github.com/frc1418">
                <img src="/assets/img/social/github.svg">
            </a>
        </li>
        <li>
            <a href="http://twitter.com/Robotics1418">
                <img src="/assets/img/social/twitter.svg">
            </a>
        </li>
    </ul>
    <div id="nav-button"><span></span><span></span><span></span></div>
    <nav>
        <ul>
	  {% include nav.html nav=site.data.menu %}
	  <!--
            <li><a href="robot">2016 Robot</a>
                <ul>
                    <li><a href="2015">2015</a></li>
                    <li><a href="2014">2014</a></li>
                </ul>
            </li>
            <li><a href="team">The Team</a></li>
            <li><a href="sponsorship">Sponsor Us</a></li>
            <li><a>More</a>
                <ul>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="outreach">Outreach</a></li>
                </ul>
            </li>
	    -->
        </ul>
    </nav>
</header>
