<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }} - 1418</title>
    <meta name="theme-color" content="#d12727">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    {% if page.stylesheets %}
        {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
        {% endfor %}
    {% endif %}
</head>
