<a id="content-skip" href="#content" tabindex="1">Skip to content</a>
<header>
    <script src="/js/header.js"></script>
    <script src="/js/scripts.js"></script>
    <a href="/"><img id="logo" src="/images/fist.svg" alt="1418 logo"></a>
    <div class="header-group">
        <h2 class="title"><a href="/">Vae Victis</a></h2>
        <h5 class="title-simple"><a href="/">1418</a></h2>
        <h3><a href="/">FRC Team 1418 - George Mason High School</a></h3>
    </div>
    <ul class="social">
        <li><a href="mailto:robotics1418ATSYMBOLgmailPERIODcom"><img src="/images/social/email.svg" alt="Email icon"></a></li>
        <li><a href="http://facebook.com/{{ site.facebook_username }}"><img src="/images/social/facebook.svg" alt="GitHub logo"></a></li>
        <li><a href="http://github.com/{{ site.github_username }}"><img src="/images/social/github.svg" alt="Facebook logo"></a></li>
        <li><a href="http://twitter.com/{{ site.twitter_username }}"><img src="/images/social/twitter.svg" alt="Twitter logo"></a></li>
        <li><a href="https://www.youtube.com/user/Robotics1418"><img src="/images/social/youtube.svg" alt="Youtube logo"></a></li>
    </ul>
    <div id="nav-button"><span></span><span></span><span></span></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/robots">Robots</a>
                <ul>
                    <li><a href="/robot/2019">2019</a></li>
                    <li><a href="/robot/2018">2018</a></li>
                    <li><a href="/robot/2017">2017</a></li>
                    <li><a href="/robot/2016">2016</a></li>
                    <li><a href="/robot/2015">2015</a></li>
                    <li><a href="/robot/2014">2014</a></li>
                </ul>
            </li>
            <li><a href="/team">The Team</a>
                <ul>
                    <li>
                        <a href="/alumni">Alumni</a>
                    </li>
                </ul>
            <li><a href="/sponsorship">Sponsor Us</a></li>
            <li><span>More</span>
                <ul>
                    <li><a href="/outreach">Outreach</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/branding">Branding</a></li>
                    <li><a href="/resources">Resources</a><li>
                    <li><a href="https://us12.campaign-archive.com/?u=116c018468396fe09157a44fe&id=958bf0e49a">Newsletter</a><li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="content"></div>
</header>
