<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> 1418 - {{ page.title }}</title>
    <meta name="theme-color" content="#d12727">
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="{{ page.title | escape }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="http://1418.team/images/worlds2018.jpg">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    {% if page.stylesheets %}
        {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css">
        {% endfor %}
    {% endif %}
</head>
